<!DOCTYPE html>
<html lang="en">
<head  >
    <meta charset="UTF-8">
    <title>My appointments</title>
    <link href="/styles/stylesheet.css" rel="stylesheet"/>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body class="index-body">
<div th:insert="~{header.html :: header}"></div>

<div class="pageContent centered-content">

    <div class="login-form">
        <h3>Appointment</h3>

<table class="appointment">
    <tbody>
    <tr >
        <th >Provider</th>
        <td th:text="${providerData.firstName}+${providerData.lastName}" ></td>
        </tr>
    <tr>
        <th>Client</th>
        <td th:text="${clientData.firstName}+${clientData.lastName}"></td>
    </tr>
    <tr>
        <th>Time</th>
        <td th:text="${appointment.startTime}"></td>
        </tr>
    <tr>
        <th>Type</th>
        <td th:text="${appointment.appointmentType}"></td>
        <td>
        <form th:action="@{ '/change-app-type/' + ${appointment.appointmentId} }" method="post">

            <select  name="appointmentType" >
                <option value="online" >online</option>
                <option value="office">in office</option>
            </select>
            <button type="submit">Change</button>
        </form>
        </td>
    </tr>
        <tr>
        <th>Details</th>
            <td th:text="${appointment.details}"></td>
        </tr>
    <tr>
        <th>Created</th>
        <td th:text="${appointmentDetails.created}"></td>

    </tr>
    <tr>
        <th>Status</th>
        <td th:text="${appointmentDetails.status}"></td>


        <td   >

            <form  th:action="@{ '/change-app-status/' + ${appointment.appointmentId} }" th:method="post" >
                <button id="button" type="submit"><ion-icon  name="checkmark-sharp"></ion-icon> Finished?</button>
            </form>

        </td>
    </tr>

    </tbody>

</table>

    </div>


</div>

<div th:insert="~{footer.html :: footer}"></div>
</body>
</html>