<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update login information</title>
  <link href="/styles/stylesheet.css" rel="stylesheet"/>
</head>
<body class="login-body">
<div class="login-header">
  <h1>Welcome to appointment booking system!</h1>
</div>

<div class="loginPageContent centered-content">

  <div class="login-form">
    <h3>Please complete registration</h3>

    <form th:action="@{/save-user-data}" method="post"
          th:object="${userData}">
      <div>
        <input type="hidden" class="input" name="userId"  th:value="${userId}" />
      </div>
      <div>
        <input type="text" class="input" th:field="*{firstName}" placeholder="Enter your first name" />
      </div>

      <div>
        <input type="text" class="input" th:field="*{lastName}"  placeholder="Enter your last name"/> <br>
      </div>
      <div>
        <p>Select your role</p>
        <input type="radio" id="client" class="input" name="role" value="client" />
        <label for="client"> Client</label>
        <input type="radio" id="provider" class="input" name="role" value="provider" />
        <label for="provider"> Provider</label>
        <input type="radio" id="user" class="input" name="role" value="user" />
        <label for="user"> Guest</label>
      </div><br><br>
      <div>
        <button class="login-button" type="submit">Save my user information</button>
      </div>


    </form>
  </div>
</div>
<div class="footer">
  <p>Personal project</p>
</div>

</body>
</html>