<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
<!--    <meta name=viewport" content="width=device-width"; initial-scale="1.0">-->
    <link href="/styles/stylesheet.css" rel="stylesheet"/>
</head>
<body class="login-body">
<div class="login-header">
    <h1>Welcome to appointment booking system!</h1>
</div>

<div class="loginPageContent centered-content">
    <div class="form">
<!--        <form class="login-form" method="post" action="/api/v1/user/authenticate" > this works-->


        <form class="login-form" method="post" th:action="@{/login-process}"
        th:object="${authenticationRequest}">
            <h2>Please login</h2>
            <div>
                <input class="input"  th:field="*{email}" type="email" placeholder = "Enter your email"/>

            </div>
            <div>
                <input class="input"  th:field="*{password}" type="password" placeholder = "Enter your password"/>
            </div>
            <div>
                <button class="login-button" type="submit">Login</button><br>
            </div>
            <div>
                <p th:if="${status == 'user_not_found'}" th:color="red"> User not found. Check your username and password</p>
            </div>
            <p>New user? <a href="/register" >Register</a></p>
        </form>


    </div>


</div>

<div th:insert="~{footer.html :: footer}"></div>


</body>
</html>