<!DOCTYPE html>
<html lang="en">
<head  >
  <meta charset="UTF-8">
  <title>My appointments</title>
  <link rel="icon" type="image/x-icon" href="/image/favicon.png">
  <link href="/styles/stylesheet.css" rel="stylesheet"/>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body class="index-body">
<div th:insert="~{header.html :: header}"></div>


<br>

<div class="pageContent centered-content">




  <div class="calendar" th:fragment="appointments">

  <h2 > <span th:text="${month}"></span>,&nbsp<span th:text="${year}"></span></h2>

    <script th:inline="javascript">
      let week = [[${week}]]
      const weekMinus = Math.floor(week - 1);
      const weekPlus = Math.floor(week + 1);
      const linkMinus = '/my-appointments/' + role + '/' + userData.userId + '/' + weekMinus;
      const linkPlus = '/my-appointments/' + role + '/' + userData.userId + '/' + weekPlus;
    </script>

    <table class="appointments">
      <thead>
      <tr style="background-color: #EB455F">

        <th>
          </a>
          <a id="previous-week" href="">
            <script>document.getElementById("previous-week").href=linkMinus</script>
            <ion-icon name="arrow-back-circle-sharp"></ion-icon>
          </a>
        </th>

        <th ><span th:text="${daysOfWeek[0]}"></span> Mo</th>
        <th ><span th:text="${daysOfWeek[1]}"></span> Tu</th>
        <th ><span th:text="${daysOfWeek[2]}"></span> We</th>
        <th ><span th:text="${daysOfWeek[3]}"></span> Th</th>
        <th ><span th:text="${daysOfWeek[4]}"></span> Fr</th>
        <th ><span th:text="${daysOfWeek[5]}"></span> Sa</th>
        <th ><span th:text="${daysOfWeek[6]}"></span> Su</th>
        <th>
          <a id="next-week" href="">
            <script>document.getElementById("next-week").href=linkPlus</script>
            <ion-icon name="arrow-forward-circle-sharp"></ion-icon>
          </a>
        </th>
      </tr>


      <thead>
    </table>
    <br><br>

    <table id="appointment-table" class="appointments-entries">

      <tbody >
      <tr th:each="appointment : ${appointmentList}" id="appointmentId" th:style="${appointment.clientId}  == null ? 'background: #B6E79FFF' : 'background: #CBBFC2FF'">

        <td>
          <a th:href="@{'/appointment/' + ${appointment.appointmentId}}"> <p th:text="${appointment.startTime}"></p> </a>
        </td>

        <td>
          <form th:action="@{ '/delete-appointment/' + ${appointment.appointmentId} }" method="post">
            <input type="hidden" name="role"  id="set-role" th:value="${role}">
            <input type="hidden" name="userId"  id="set-userId" th:value="${userId}">
            <input type="hidden" name="week"  id="set-week" th:value="${week}">
            <button type="submit">
              <ion-icon title="Delete this appointment!" name="trash-sharp"></ion-icon>
            </button>

          </form>
        </td>

      </tr>

<!--      <tr>-->
<!--        <td  th:each="day : ${daysOfWeek}" >-->
<!--          <span id ="hour8">-->
<!--          </span> 8:00</td>-->

<!--      </tr>-->
<!--      <tr>-->
<!--        <td th:each="day : ${daysOfWeek}">9:00</td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td th:each="day : ${daysOfWeek}">10:00</td>-->

<!--      </tr>-->
<!--      <tr>-->
<!--        <td th:each="day : ${daysOfWeek}">11:00</td>-->

<!--      </tr>-->
<!--      <tr>-->
<!--        <td th:each="day : ${daysOfWeek}">12:00</td>-->

<!--      </tr>-->
<!--      <tr>-->
<!--        <td th:each="day : ${daysOfWeek}">13:00</td>-->

<!--      </tr>-->
<!--      <tr>-->
<!--        <td th:each="day : ${daysOfWeek}">14:00</td>-->

<!--      </tr>-->
<!--      <tr>-->
<!--        <td th:each="day : ${daysOfWeek}">15:00</td>-->

<!--      </tr>-->
<!--      <tr>-->
<!--        <td th:each="day : ${daysOfWeek}">16:00</td>-->

<!--      </tr>-->
<!--      <tr>-->
<!--        <td th:each="day : ${daysOfWeek}">17:00</td>-->

<!--      </tr>-->
<!--      <tr>-->
<!--        <td th:each="day : ${daysOfWeek}">18:00</td>-->

<!--      </tr>-->
      </tbody>

    </table>

  </div>



</div>

<div th:insert="~{footer.html :: footer}"></div>

</body>
</html>