<!DOCTYPE html>
<html lang="en">
<head  >
  <meta charset="UTF-8">
  <title>My appointments</title>
  <link href="/styles/stylesheet.css" rel="stylesheet"/>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body class="index-body">
<div th:insert="~{header.html :: header}"></div>

<div class="pageContent centered-content">


  <div class="calendar">

  <h2 > <span th:text="${month}"></span>,&nbsp<span th:text="${year}"></span></h2>
    <script th:inline="javascript">


      const month = [[${month}]];
      const year = [[${year}]];
      const monthNr = [[${monthNr}]];
    </script>

    <table class="appointments">
      <thead>
      <tr style="background-color: #EB455F">
        <th th:text="${daysOfWeek[0]}" ></th><th>Mo</th>
        <th th:text="${daysOfWeek[1]}"></th><th>Tu</th>
        <th th:text="${daysOfWeek[2]}"></th><th>We</th>
        <th th:text="${daysOfWeek[3]}"></th><th>Th</th>
        <th th:text="${daysOfWeek[4]}"></th><th>Fr</th>
        <th th:text="${daysOfWeek[5]}"></th><th>Sa</th>
        <th th:text="${daysOfWeek[6]}"></th><th>Su</th>
      </tr>


      <thead>
    </table>
    <br><br>

    <table class="appointments">

      <form action="/view-appointment" method="post" id="see-app"></form>

      <tbody >
      <tr th:each="appointment : ${appointmentList}" id="appointmentId" th:style="${appointment.clientId}  == null ? 'background: green' : 'background: red'">
        <td  >
          <input type="hidden" name="appointmentId" th:value="${appointment.appointmentId}" form="see-app">
          <button type="submit" th:text="${appointment.startTime}" form="see-app">See Appointment</button>
          </td>



      </tr>

<!--      <tr>-->
<!--        <td  th:each="day : ${daysOfWeek}" >-->
<!--          <span id ="hour8">-->
<!--          </span> 8:00</td>-->

<!--      </tr>-->
<!--      <tr>-->
<!--        <td th:each="day : ${daysOfWeek}">9:00</td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td th:each="day : ${daysOfWeek}">10:00</td>-->

<!--      </tr>-->
<!--      <tr>-->
<!--        <td th:each="day : ${daysOfWeek}">11:00</td>-->

<!--      </tr>-->
<!--      <tr>-->
<!--        <td th:each="day : ${daysOfWeek}">12:00</td>-->

<!--      </tr>-->
<!--      <tr>-->
<!--        <td th:each="day : ${daysOfWeek}">13:00</td>-->

<!--      </tr>-->
<!--      <tr>-->
<!--        <td th:each="day : ${daysOfWeek}">14:00</td>-->

<!--      </tr>-->
<!--      <tr>-->
<!--        <td th:each="day : ${daysOfWeek}">15:00</td>-->

<!--      </tr>-->
<!--      <tr>-->
<!--        <td th:each="day : ${daysOfWeek}">16:00</td>-->

<!--      </tr>-->
<!--      <tr>-->
<!--        <td th:each="day : ${daysOfWeek}">17:00</td>-->

<!--      </tr>-->
<!--      <tr>-->
<!--        <td th:each="day : ${daysOfWeek}">18:00</td>-->

<!--      </tr>-->
      </tbody>

    </table>


  </div>



</div>

<div class="footer">
  <p>Personal project</p>
</div>
</body>
</html>