<!DOCTYPE html>
<html lang="en">
<head  >
  <meta charset="UTF-8">
  <title>New appointment</title>
  <link href="/styles/stylesheet.css" rel="stylesheet"/>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</head>

<body class="index-body">
<div th:insert="~{header.html :: header}"></div>

<div class="pageContent centered-content">
  <div>
    <h2>New appointment</h2>
    <form action="/create-appointment" method="post">
      <div>
        <input type="hidden" name="userId" th:value="${userId}" />
      </div>
      <div>
        <label> Appointment date: </label>
        <input type="date" name="startDate">
      </div>
      <div>
        <label> Appointment time: </label>
        <input name="startHour" type="number" min="7" max="20">:00
      </div>
      <div>
        <label>Appointment type</label>
        <select  name="appointmentType" >
          <option value="online" >online</option>
          <option value="office">in office</option>
        </select>
      </div>
      <button type="submit">Create</button>
    </form>
  </div>
</div>

<div th:insert="~{footer.html :: footer}"></div>




</body>
</html>