<!DOCTYPE html>
<html lang="en">
<head  >
  <meta charset="UTF-8">
  <title>My profile</title>
  <link href="/styles/stylesheet.css" rel="stylesheet"/>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body class="index-body">
<div th:insert="~{header.html :: header}"></div>

<div class="pageContent centered-content">



</div>

<div th:insert="~{footer.html :: footer}"></div>

</body>
</html>