<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head  >
  <meta charset="UTF-8">
  <title>Login successful</title>
  <meta http-equiv="refresh" content=" 0; http://localhost:8101/update-profile?status=updated " />
  <!--  <meta name=viewport" content="width=device-width" initial-scale="1.0">-->
  <script th:inline="javascript">
    const newUserDataJson = [[${userData}]];
    localStorage.setItem("userData", JSON.stringify(newUserDataJson));
  </script>
  <link href="/styles/stylesheet.css" rel="stylesheet"/>

</head>
<body>

Profile information update was successful...

</body>
</html>