<!DOCTYPE html>
<html lang="en">
<head  >
  <meta charset="UTF-8">
  <title>My profile</title>
  <link href="/styles/stylesheet.css" rel="stylesheet"/>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body class="index-body">
<div th:include="header.html :: header"></div>


<div>

  <form class="login-form" th:action="@{/update-user-data}" method="post">

    <h3>Update your profile information</h3>
    <div>
      <label for="newFirstName">First Name:</label><br>
      <input type="text" class="input" id="newFirstName" name="newFirstName"   /><br>
    </div>
    <script>
      document.getElementById("newFirstName").value = JSON.stringify(userData.firstName).slice(1,-1);
    </script>

    <div>
      <label for="newLastName">Last Name:</label><br>
      <input  name="newLastName" class="input" type="text" id="newLastName"  /><br>
    </div>
    <script>
      document.getElementById("newLastName").value = JSON.stringify(userData.lastName).slice(1,-1);
    </script>

    <div>
      <label for="registrationDate">Registration Date:</label><br>
      <input  name="registrationDate" class="input" type="text" id="registrationDate" disabled/><br>
    </div>
    <script>
      document.getElementById("registrationDate").value = JSON.stringify(userData.registrationDate).slice(1,-11);
    </script>

    <div>
      <input type="hidden" name="userId" id="userId"  /><br>
    </div>
    <script>document.getElementById("userId").value = JSON.stringify(userData.userId);</script>


    <div>
      <button class="login-button" type="submit">Save my login information</button>
    </div>



  </form>

  <div>

    <p th:if="${status ne null}" > <span>

              <body onLoad="isSuccessful()"></body>
      </span>  </p>

    <script th:inline="javascript">
      const isSuccessful = function (){
        alert("Your credentials were updated");
      }
    </script>

  </div>




  <p th:if="${status ne null}" > <span>

              <body onLoad="checkStatus()"></body>
      </span>  </p>

  <script th:inline="javascript">
    const checkStatus = function (){
      alert("Your profile information were updated");

    }

  </script>

</div>


<div class="footer">
  <p>Personal project</p>
</div>

</body>
</html>

</body>
</html>