<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
    <!--    <meta name=viewport" content="width=device-width"; initial-scale="1.0">-->
    <link href="/styles/stylesheet.css" rel="stylesheet"/>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body class="index-body">
<div th:insert="~{header.html :: header}"></div>


<div class="pageContent centered-content">

    <h3>User data </h3> <ion-icon name="person"></ion-icon>

    <div class="user-table">
        <table class="summary-table ">
            <thead>
            <tr>
                <td>
               </td>
                <th>User Id</th>
                <td th:text="${user.id}"></td>
            </tr>
            <tr>
                <td></td>
                <th>Email</th>
                <td th:text="${user.email}"></td>
            </tr>
            <tr><td></td>
                <th>First name</th>
                <td th:text="${userData.firstName}"></td>
            </tr>
            <tr><td></td>
                <th>Last Name</th>
                <td th:text="${userData.lastName}"></td>
            </tr>
            <tr><td></td>
                <th>Registration Date</th>
                <td th:text="${userData.registrationDate}"></td>
            </tr>
            <tr><td></td>
                <th>Role</th>
                <td th:text="${user.role}"></td>
            </tr>
<!--            <tr>-->
<!--                <th>isActive</th>-->
<!--                <td th:text="${user}></td>-->
<!--            </tr>-->
            </thead>

        </table>
        <h2>
            <form action="update-password" method="post">
                <input type="hidden" name="userId" th:value="${user.id}">
                <button type="submit" onclick='showAlert();'>Change Password</button>
            </form>

            <script>
                const showAlert = function () {
                    alert("Password was updated");
                };
            </script>
        </h2>

    </div>

</div>

<div th:insert="~{footer.html :: footer}"></div>
</body>
</html>